html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

header {
  background: rgb(52, 206, 142);
  height: 100px;
}

h1 {
  text-align: center;
  color: white;
  line-height: 100px;
  margin: 0;
}

.adaptive {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

article {
  padding: 10px;
  margin: 5px;
  background: rgba(16, 233, 215, 0.178);
 
}


@media (min-width: 1400px) {
  .adaptive {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto auto auto; 
      gap: 5px;
  }

  article:nth-child(1),
  article:nth-child(2) {
      grid-column: span 2; 
  }

  article:nth-child(3) {
      grid-column: span 4; 
  }

  article:nth-child(4),
  article:nth-child(5) {
      grid-column: span 2; 
  }


  article:nth-child(6),
  article:nth-child(7),
  article:nth-child(8),
  article:nth-child(9) {
      grid-column: span 1; 
  }
}

@media (min-width: 700px) and (max-width: 1399px) {
  .adaptive {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto auto auto auto; 
      gap: 5px;
  }

  article:nth-child(1),
  article:nth-child(2),
  article:nth-child(3) {
      grid-column: span 2;
  }

  article:nth-child(4),
  article:nth-child(5),
  article:nth-child(6),
  article:nth-child(7), 
  article:nth-child(8),
  article:nth-child(9),
  article:nth-child(10) {
      grid-column: span 1; 
  }
}
